html {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl; 
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

body {
    font-family: Tahoma, Arial, Helvetica, Georgia, "Times New Roman", "Noto Serif", "Noto Serif CJK SC", "NotoSerifCJKsc", "Noto Sans", "Noto Sans CJK SC", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif, serif;
}

#mainContent {
    line-height: 1.7em;
    font-size: 2em;
    letter-spacing: 3px;
    text-align: justify;
    visibility: hidden;
    margin: 1em;
}

.zh {
    text-indent: 2em;
    margin: 0 2em;
    /*visibility: hidden;*/
}

#back {
    float: right;
    display: none;
}

.tooltipser {
    /*position: absolute;*/
    /*display: inline-block;*/
    visibility: hidden;
    white-space: nowrap;
    z-index: 1;
    writing-mode: horizontal-tb;
}

.tooltipser .tooltipsertext {
    text-align: center;
    padding: 5px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    position: absolute;
}

.tooltipser .arrowRight::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltipser .arrowLeft::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    writing-mode: horizontal-tb;
}

.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modalContent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    overflow: auto;
    border-radius: 8px;
    max-height: 70%;
    max-width: 70%;
    line-height: 1.5;
    font-family: Tahoma, Arial, Helvetica, Georgia, "Times New Roman", sans-serif, serif;
}

.modalContent a {
    color: darkblue;
    cursor: pointer;
}

/* spinner */
#spinnerContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader3 {
   width:35px;
   height:35px;
   display:inline-block;
   padding:0px;
   border-radius:100%;
   border:2px solid;
   border-top-color:rgba(0,0,0, 0.65);
   border-bottom-color:rgba(0,0,0, 0.65);
   border-left-color:rgba(0,0,0, 0.15);
   border-right-color:rgba(0,0,0, 0.15);
   -webkit-animation: preloader3 0.8s ease-in-out infinite alternate;
   animation: preloader3 0.8s ease-in-out infinite alternate;
}
@keyframes preloader3 {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader3 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}
/* spinner */

.vi {
    height: 1em;
    padding-top: 0.5em;
}

@media all and (min-width: 960px) {
    body {font-size: 16px;}
}

@media all and (max-width: 959px) and (min-width: 600px) {
    body {font-size: 14px;}
}

@media all and (max-width: 599px) and (min-width: 320px) {
    body {font-size: 12px;}
}